.header{
    height: 100px;
    border: 2px solid red;
}
.header_1{
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
.div1{
    width: 45%;
    height: 100px;
}
.div12{
    margin-left: 0;
    margin-top: 25px;
    width: 10%;
    height: 50px;
    border: 2px solid red;
    border-radius: 50%;
}
.div2{
    width: 30%;
    height: 30px;
    margin-top: 35px;
    border: 2px solid red;
}
.div3{
    width: 15%;
    height: 30px;
    margin-top: 35px;
    margin-left: 80px;
    border: 2px solid red;
}
.div4{
    width: 10%;
    height: 100px;
    margin-left: 25px;
    

}
.div41{
    width: 40%;
    height: 50px;
    margin-top: 25px;
    float: right;
    border: 2px solid red;
    border-radius: 50%;
}